@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
       width: 100%;
       height: 100vh;
       justify-content:center;
       text-align: center;
       background: #000
}

#titulo {
    text-align: left;
    font-size: 60px;
    font-family: Agbalumo;
    color: hsl(262, 84%, 63%);
}

header {
        align-items: center;
        display: flex;
        justify-content: center;
    }

input{
        color: #fff;
        padding: 17px;
        outline: none;
        font-size:30px;
        font-family: 'bebas Neue', cursive;
        border-radius:25%
}

.maincolor{
        background-color:#000
}

.num{
        width: 64px;
        height: 67px;
}

.num1{
        width: 257px;
        height: 67px;
  
}
.text{
        width: 160px;
        height: 26px;
        border-radius: 22px;
        letter-spacing: 5px;
        text-align: center;
        margin-botton: 12px;
        border-radius: 50px;
        cursor: pointer;
}

.main{
        display: inline-block;
}

.blue{
        background-color: #0cd0cd
}

.gre{
        background-color: #aad800
}

.pur{
        background-color: hsl(262, 84%, 63%)
}